@import url("https://fonts.googleapis.com/css2?family=Keania+One&family=Poppins:wght@600&family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  --ff-logo: "Special Gothic Expanded One", sans-serif;
  --ff-body: "Roboto", sans-serif;
  --ff-hero-heading: "Lilita One", sans-serif;

  --color-primary: #a1003e;
  --color-neutral: #f1b5ca;

  --color-dark-blue: #0a314f;
  --color-pink: #d1b7ff;
  --color-orange: #ff5040;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  font-family: inherit;
  cursor: pointer;
  border-style: solid;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--ff-body);
  background: var(--color-primary);
}

section {
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  padding: 5rem 2rem;
}

/*----------HERO SECTION****************/
.hero__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__section header {
  width: 100%;
  height: 120px;
  padding: 0.5rem 2rem;
  position: relative;
}

.hero__section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  height: 100%;
  margin-inline: auto;
}

.hero__section nav .logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: white;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.hero__section nav .logo img {
  width: 30px;
  height: 30px;
}

.hero__section .nav__links {
  display: flex;
  gap: 2rem;
}

.hero__section .nav__links li {
  font-size: 0.8rem;
}

.hero__section .btn {
  border-radius: 100vmin;
  border: 0;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.btn.signup__button {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.btn.login__button {
  background: white;
  color: var(--color-primary);
  margin-left: 1rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-hero-heading);
  color: white;
  font-size: 8rem;

  padding: 0 2rem;
  margin-inline: auto;
  line-height: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.row span {
  color: #ffc4c4;
}

.building__image {
  aspect-ratio: 31/9;
  width: 20vw;
  background-image: url(assets/images/building.jpg);
  background-position: center;
  background-size: center;
  border-radius: 150px;
}

.second__row img {
  aspect-ratio: 1;
  width: 7vw;
}

.third__row .circle {
  background: #ff902d;
  aspect-ratio: 1;
  width: 7vw;
  border-radius: 100%;
}

.fourth__row {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap-reverse;
}

.fourth__row button {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  padding: 0.4rem 2rem;
  gap: 1rem;
  border-radius: 100vmin;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-primary);
}

.fourth__row button span img {
  width: 2.5vw;
}

.fourth__row button span {
  display: flex;
  border-radius: 50%;
  padding: 0.3rem;
  background: var(--color-primary);
}

.fourth__row p {
  font-family: "Roboto", sans-serif;
  font-size: 400;
  font-size: 1rem;
  max-width: 650px;
  color: var(--color-neutral);
  line-height: 1.5;
}

/*----------SCROLLING CONTAINER****************/
.scroll__container {
  overflow: hidden;
  display: flex;
  margin-top: 4rem;
  user-select: none;
  background: rgba(255, 255, 255, 0.8);
}

.scroll__track {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  animation: scroll 20s linear infinite;
  color: white;
}

.scroll__track img {
  width: 70px;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.menu {
  display: none;
  cursor: pointer;
}

.menu img {
  width: 40px;
}

/*----------PRODUCTS SECTION****************/
.products__container {
  margin-inline: auto;
}

.products__container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.products__container .product__header {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.products__container .product__header .col:nth-child(2) {
  display: flex;
  align-items: center;
  max-width: 300px;
  color: white;
}

.product__header .col:nth-child(1) h2 {
  color: #fa4a51;
  font-size: 1.7rem;
  font-style: italic;
  margin-bottom: 0.6rem;
}

.product__header .col:nth-child(1) h1 {
  font-size: 3rem;
  max-width: 600px;
  font-family: var(--ff-hero-heading);
  color: white;
}

.product__header .col:nth-child(1) h1 span {
  color: #ffc4c4;
}

.products__container .product__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  line-height: 1;
  font-family: var(--ff-hero-heading);
  color: var(--color-primary);
  min-width: 350px;
}

.products__container .product__title img {
  width: 50px;
  height: 50px;
}

.products__container .product__card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #ffc4c4;
  border-radius: 2.5rem;
  padding: 2rem;
}

.products__container .product__text {
  max-width: 400px;
  margin-left: 3rem;
  color: var(--color-primary);
  font-weight: 600;
  line-height: 1.2;
}

.products__container .arrow {
  display: flex;
  background: var(--color-primary);
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 0.8rem;
  margin-left: auto;
  cursor: pointer;
}

.products__container .arrow img {
  width: 2.5vw;
}

@keyframes scroll-left {
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

/*----------SERVICES CONTAINER****************/
.service__container {
  background: white;
  margin-inline: auto;
}
.service__container .container {
  margin-inline: auto;
}

.service__container .service__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.service__header .col:nth-child(1) {
  min-width: 350px;
  color: var(--color-dark-blue);
}

.service__header .col:nth-child(1) p {
  margin-top: 1rem;
  font-weight: 600;
}

.service__header .col:nth-child(1) h4 {
  font-weight: 400;
  line-height: 1.3;
  max-width: 290px;
}

.service__header .col:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex: 1;
}

.service__container .col:nth-child(2) h2 {
  color: var(--color-orange);
}

.service__header .col:nth-child(2) h1 {
  font-size: 3rem;
  color: var(--color-dark-blue);
  font-weight: 900;
  font-family: var(--ff-logo);
}

.servicesCards__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-block: 4rem;
}

.servicesCards__container .service__card {
  padding: 2rem;
  border-radius: 1.7rem;
}

.servicesCards__container .service__card h3 {
  font-size: 3rem;
  max-width: 300px;
}

.service__card:nth-child(1),
.service__card:nth-child(4) {
  background: var(--color-dark-blue);
  color: white;
}

.service__card:nth-child(2),
.service__card:nth-child(3) {
  background: var(--color-pink);
  color: var(--color-dark-blue);
}

@media (max-width: 1540px) {
  .row {
    justify-content: center;
  }
}

@media (max-width: 1040px) {
  .hero__container {
    font-size: 5rem;
  }
  /**HERO CONTAINER**/
  .fourth__row {
    margin-top: 1rem;
    gap: 1rem;
  }

  .fourth__row button {
    font-size: 1rem;
    padding: 0.4rem 1.2rem;
    margin-inline: auto;
  }

  .fourth__row p {
    text-align: center;
    font-size: 1rem;
  }

  /**PRODUCTS CONTAINER**/
  .products__container .product__card {
    gap: 1rem;
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 768px) {
  .hero__section .nav__links {
    position: fixed;
    display: flex;
    flex-direction: column;
    inset: 0 0 0 60%;
    display: flex;
    padding: min(30vh, 10rem) 2rem;
    background-color: hsla(0, 6%, 15%, 0.2);
    backdrop-filter: blur(0.2em);
    transform: translateX(100%);
    transition: transform 400ms ease-in;
  }

  .hero__section .auth__buttons {
    display: none;
  }

  .hero__container {
    font-size: 3rem;
  }

  /**HERO CONTAINER**/
  .fourth__row {
    margin-top: 0.7rem;
  }

  /**MENU**/
  .menu {
    display: block;
    position: absolute;
    z-index: 999;
    top: 2rem;
    right: 2rem;
  }

  .nav__links.active {
    transform: translateX(0);
  }

  /**PRODUCTS CONTAINER**/
  .products__container .product__header .col {
    margin-inline: auto;
  }

  .products__container .product__header .col h2 {
    font-size: 1.4rem;
  }

  .products__container .product__header .col h1 {
    font-size: 2.7rem;
  }

  .products__container .product__header .col p {
    font-size: 1rem;
  }

  .product__header {
    flex-wrap: wrap;
    text-align: center;
    gap: 0.6rem;
  }

  .products__container .arrow {
    width: 40px;
    height: 40px;
    padding: 0.4rem;
  }

  .products__container .arrow img {
    width: 40px;
  }
}

@media (max-width: 464px) {
  .hero__container {
    font-size: 2.5rem;
  }
}
